<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tunguyen.manga">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:configChanges="orientation|keyboardHidden|screenSize">
        <activity
            android:name="com.example.tunguyen.manga.view.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.tunguyen.manga.view.activity.DetailAdvert"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.tunguyen.manga.view.activity.DetailChapter"
            android:label="" >
        </activity>
        <activity
        android:name="com.example.tunguyen.manga.view.activity.AllAdvertBy"
        android:label="" >
    </activity>
        <activity
            android:name="com.example.tunguyen.manga.view.activity.ViewedAdvert"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.tunguyen.manga.view.activity.FavoriteAdvert"
            android:label="" >
        </activity>
        <service android:name=".view.model.MyService" />
    </application>
</manifest>